@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

*{
    list-style: none;
    margin: 0px;  
    font-family: unset;

}

#entrada{
    position: relative;
    top: 20px;
    left: -5px;
    background-color: aliceblue;
    width: 400px;
    height: 100px;

    font-size: 50px;
}

.number {
 
    position: relative;
    top: 90px;
    
    width: 80PX;
    height: 50px;
    background-color: white;
    margin: 10px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.operations{
     position: relative;
    top: 90px;
 
    width: 80PX;
    height: 50px;
    background-color:white;
    margin: 10px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-style: oblique;
   
}





.calc{

   padding-left: 20px;
   position: absolute;
   height: 650px;
   width: 410px;
   top: 250px;
   left: 180px;
   background-color: blue;
}

li.fil0{
    display: inline;

    position:  relative;
    top: 70px;
    right: 50px;

    
}

li.fil1{
  display: inline;
  position:  relative;
  top: 140px;
  right: 50px;


}
li.fil2{
    display: inline;
   position:  relative;
   right: 50px;
 

 }

li.fil3{
    display: inline;
    position:  relative;
    bottom: 140px;
    right: 50px;
  
  
 }

li.fil4{
    position: relative;
    right: 50px;
 


  
 }

li.fil5 button.operations{
    position: relative;
    
    left: 260px;
    top: -190px;
    
 }

 


#cer{
    width: 80px;
    position: relative;
    top: 90px;
  
}

#modulo{
    position: relative;
    top: 25px;
    left: 310px;
}

.operacionActual{
    position:  absolute;
    width: 382px;
    height: 130px;
    top: 20px;
    left: 20px;

}

#igu{
    position:  relative;
    left: 45px;
    width: 190px;
   top: -260px;
}



@media all and (max-width:640px){
    .calc{
        background-color: red;
    }
}





